

.jumbotron {
  text-align: center;
  background-color: #EFEFEF;
  margin-bottom: 0px;
}
.img-circle {
  width: 50%;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.profile-pic {
  margin-top: 50px;
}

.navbar-brand {

  font-size: 25px;

}

.bright {
  color: #FF3B3F;
}

.navbar {
  margin-bottom: 0px;
}

#jumbo2 {
  background-color: #CAEBF2;
}

ol {
  list-style-type: none;
}

a:link {
  text-decoration: none;
}

#forest-pic {
  width: 100%;
}

#row-p {
  margin-top: 20px;
}

#jumbo3 {
  background: #A9A9A9;
  padding: 10px 0px 2px 0px;
}

.ul-about {
  list-style-type: none;
}

.ul-about p {
  margin: 1px;
}

a:link {
  color: #FF3B3F;
}

a:visited {
  color: #FF3B3F;
}

a:hover {
  color: #cc0003;
}

.sec1:hover {
  color: purple;
}
/* Colors
sky #CAEBF2
carbon #A9A9A9
watermelon #FF3B3F
neutral #EFEFEF
*/
